.DS_Store
*.aux
*.log
_book/
_main_files/

# Ignore large data folders and files
**/Data/
assets/data/
*.shp
*.shx
*.dbf
*.prj
*.csv
*.zip
*.nc
.Rhistory
rosm.cache/

/.quarto/
**/*.quarto_ipynb
_solutions/
ma22019_solutions/
