.DS_Store
*.aux
*.log
_book/
_main_files/

# Ignore large data folders and files
**/Data/
# assets/data/ is a symlink, so we MUST ignore it for GitHub Pages
assets/data
_site/
*_files/
*.shp
*.shx
*.dbf
*.prj
*.csv
*.zip
*.nc
.Rhistory
rosm.cache/

/.quarto/
**/*.quarto_ipynb
_solutions/
ma22019_solutions/

# Exclude private/accidental Coursework folder
Coursework/
