.gdbar img {
  width: 300px !important;
  height: 120px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 350px !important;
  height: 150px !important;
}

slides > slide:not(.nobackground):before {
  width: 150px;
  height: 75px;
  background-size: 150px 75px;
}